<div style="overflow-x: hidden;">
    <div class="row">
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-info cardDash">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Livres</p>
                            <h4 class="my-1 text-info">{{allLivres?.length}}</h4>
                            
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-danger cardDash">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Emprunts</p>
                            <h4 class="my-1 text-danger">{{allEmprunt?.length}}</h4>
                            
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-warning cardDash">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Total Users</p>
                            <h4 class="my-1 text-warning">{{allUsers?.length}}</h4>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i
                                class="fa fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pie">
            <div class="chartPie card">
                <h3 class="card-title">Books By Genre</h3>
                <div class="card-body">
                    <canvas id="myPie"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-7 ">
            <div class="chartBar">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

</div>