<div id="viewport">
    <div id="sidebar">
        <header>
            <a><i class="bi bi-book"></i> Xpress</a>
        </header>
        <ul class="list-group nav">
            <li class="list-group-item " style="cursor: pointer;">item1</li>
            <li class="list-group-item " style="cursor: pointer;">item2</li>
            <li class="list-group-item " style="cursor: pointer;">item3</li>

        </ul>

    </div>
    <div id="content">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>
